# Pandas Deep-Dive

#### 1. Import Pandas package under the alias pd and Numpy under the alias np.

In [1]:
# your code here
import pandas as pd
import numpy as np
import mysql.connector

#### 2. Define a variable called `path` that contains the path to the csv file you downloaded. If you are reading the data from Ironhack's database, define the variables needed to create the connection with the database.

In [2]:
# your code here
cnx = mysql.connector.connect(user='root', password='D.Dragon', host='127.0.0.1', database='AppStore', use_pure=True)
cursor = cnx.cursor()
query = ("SELECT * FROM App")
cursor.execute(query)

columns_app = ['id', 'TrackName', 'Size_bytes', 'Currency', 'Price', 'Rating_count_tot', 'Rating_count_ver', 'User_Rating', 'User_Rating_ver', 'ver', 'Count_Rating', 'Prime_genre', 'Sup_Device', 'IpadSc_url', 'Lang', 'Vpp_lic'] ## According to query

sql2Data = pd.DataFrame(columns = columns_app)



for i, val in enumerate(cursor):
    sql2Data.loc[i] = val

#path =  ###NEED TO SEE WHAT THIS MEANS BETTER

In [8]:
sql2Data.head(10)

,id,TrackName,Size_bytes,Currency,Price,Rating_count_tot,Rating_count_ver,User_Rating,User_Rating_ver,ver,Count_Rating,Prime_genre,Sup_Device,IpadSc_url,Lang,Vpp_lic
0,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
1,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,4.5,5.10.0,12+,Shopping,37,5,9,1
4,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1
5,283619399,Shanghai Mahjong,10485713,USD,0.99,8253,5516,4.0,4.0,1.8,4+,Games,47,5,1,1
6,283646709,PayPal - Send and request money safely,227795968,USD,0.00,119487,879,4.0,4.5,6.12.0,4+,Finance,37,0,19,1
7,284035177,Pandora - Music & Radio,130242560,USD,0.00,1126879,3594,4.0,4.5,8.4.1,12+,Music,37,4,1,1
8,284666222,PCalc - The Best Calculator,49250304,USD,9.99,1117,4,4.5,5.0,3.6.6,4+,Utilities,37,5,1,1
9,284736660,Ms. PAC-MAN,70023168,USD,3.99,7885,40,4.0,4.0,4.0.4,4+,Games,38,0,10,1

In [9]:
cursor.close()
cnx.close()

#### 3. Using the pandas, read the data either from the downladed file or the database. 

Assign the returned value to a variable called `data`.

In [10]:
data = sql2Data
data
# your code here

,id,TrackName,Size_bytes,Currency,Price,Rating_count_tot,Rating_count_ver,User_Rating,User_Rating_ver,ver,Count_Rating,Prime_genre,Sup_Device,IpadSc_url,Lang,Vpp_lic
0,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
1,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,4.5,5.10.0,12+,Shopping,37,5,9,1
4,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7171,1187617475,Kubik,126644224,USD,0.00,142,75,4.5,4.5,1.3,4+,Games,38,5,1,1
7172,1187682390,VR Roller-Coaster,120760320,USD,0.00,30,30,4.5,4.5,0.9,4+,Games,38,0,1,1
7173,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112,USD,1.99,15,0,4.5,0.0,1.0.2,9+,Utilities,37,1,1,1
7174,1187838770,VR Roller Coaster World - Virtual Reality,97235968,USD,0.00,85,32,4.5,4.5,1.0.15,12+,Games,38,0,2,1
7175,1188375727,Escape the Sweet Shop Series,90898432,USD,0.00,3,3,5.0,5.0,1.0,4+,Games,40,0,2,1

#### 4. Print the first 5 rows of `data` to see what the data look like.

A data analyst usually does this to have a general understanding about what the data look like before digging deep.

In [11]:
# your code here

data.head(5)

,id,TrackName,Size_bytes,Currency,Price,Rating_count_tot,Rating_count_ver,User_Rating,User_Rating_ver,ver,Count_Rating,Prime_genre,Sup_Device,IpadSc_url,Lang,Vpp_lic
0,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
1,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,4.5,5.10.0,12+,Shopping,37,5,9,1
4,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1

#### 5. Print the summary of the data.

In [12]:
# your code here

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7176 entries, 0 to 7175
Data columns (total 16 columns):
id                  7176 non-null object
TrackName           7176 non-null object
Size_bytes          7176 non-null object
Currency            7176 non-null object
Price               7176 non-null float64
Rating_count_tot    7176 non-null object
Rating_count_ver    7176 non-null object
User_Rating         7176 non-null float64
User_Rating_ver     7176 non-null float64
ver                 7176 non-null object
Count_Rating        7176 non-null object
Prime_genre         7176 non-null object
Sup_Device          7176 non-null object
IpadSc_url          7176 non-null object
Lang                7176 non-null object
Vpp_lic             7176 non-null object
dtypes: float64(3), object(13)
memory usage: 953.1+ KB

#### 6. Print the number of columns in the data.

In [13]:
# your code here

len(data.columns)

16

#### 7. Print all column names.

In [14]:
# your code here

data.columns

Index(['id', 'TrackName', 'Size_bytes', 'Currency', 'Price',
       'Rating_count_tot', 'Rating_count_ver', 'User_Rating',
       'User_Rating_ver', 'ver', 'Count_Rating', 'Prime_genre', 'Sup_Device',
       'IpadSc_url', 'Lang', 'Vpp_lic'],
      dtype='object')

#### 8.- Now that we have a general understanding of the data, we'll start working on the challenge questions. How many apps are there in the data source? Print the number of observations of the data.

**Hint**: Your code should return the number 7197.

In [15]:
# your code here
#

data['id'].count()

7176

#### 9. What is the average rating of all apps? 

First, read the `user_rating` column into a varialbe named `user_rating`.

In [16]:
# your code here

user_rating = data['User_Rating']

Now you can calculate the average of the `user_rating` data.

**Hint**: Your code should return 3.526955675976101.

In [17]:
# your code here

#miss some apps

user_rating.mean()

3.5266164994425866

#### 10. How many apps have an average rating no less than 4?

First, filter `user_rating` where its value >= 4. 

Assign the filtered dataframe to a new variable called `user_rating_high`.

In [20]:
# your code here

user_rating_high = user_rating[(user_rating >=4)] 

user_rating_high

0       4.0
1       4.0
3       4.0
4       4.5
5       4.0
       ...
7171    4.5
7172    4.5
7173    4.5
7174    4.5
7175    5.0
Name: User_Rating, Length: 4768, dtype: float64

Now obtain the length of `user_rating_high` which should return 4781.

In [21]:
# your code here

len(user_rating_high)

4768

#### 11. How many genres are there in total for all the apps?

Define a new variable named `genres` that contains the `prime_genre` column of `data`. Google for how to obtain unique values of a dataframe column.

In [25]:
# your code here
genres = data['Prime_genre'].unique()
genres

array(['Games', 'Productivity', 'Weather', 'Shopping', 'Reference',
       'Finance', 'Music', 'Utilities', 'Travel', 'Social Networking',
       'Sports', 'Business', 'Health & Fitness', 'Entertainment',
       'Photo & Video', 'Navigation', 'Education', 'Lifestyle',
       'Food & Drink', 'News', 'Book', 'Medical', 'Catalogs'],
      dtype=object)

Print the length of the unique values of `genres`. Your code should return 23.

In [26]:
# your code here

len(genres)

23

#### 12. What are the top 3 genres that have the most number of apps?

What you want to do is to count the number of occurrences of each unique genre values. Because you already know how to obtain the unique genre values, you can of course count the # of apps of each genre one by one. However, Pandas has a convient function to let you count all values of a dataframe column with a single command. Google for "pandas count values" to find the solution. Your code should return the following:

```
Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64
```

In [35]:
# your code here

data['Prime_genre'].value_counts()

Games                3857
Entertainment         534
Education             448
Photo & Video         346
Utilities             248
Productivity          178
Health & Fitness      177
Social Networking     167
Lifestyle             141
Music                 138
Shopping              122
Sports                113
Book                  112
Finance               104
Travel                 81
News                   75
Weather                72
Reference              64
Food & Drink           63
Business               57
Navigation             46
Medical                23
Catalogs               10
Name: Prime_genre, dtype: int64

#### 13. Which genre is most likely to contain free apps?

First, filter `data` where the price is 0.00. Assign the filtered data to a new variable called `free_apps`. Then count the values in `free_apps`. Your code should return:

```
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64
```

In [38]:
# your code here

free_apps = data[(data['Price'] == 0)]
free_apps['Prime_genre'].value_counts()

Games                2257
Entertainment         334
Photo & Video         166
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              93
Finance                84
Sports                 79
Health & Fitness       75
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Reference              20
Business               20
Navigation             20
Catalogs                9
Medical                 8
Name: Prime_genre, dtype: int64

#### 14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps. 

Challenge yourself by achieving that with one line of code. The output should look like:

```
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64
```

The numbers are interesting, aren't they?

In [49]:
# your code here
free_apps['Prime_genre'].value_counts()/ data['Prime_genre'].value_counts()

Book                 0.589286
Business             0.350877
Catalogs             0.900000
Education            0.294643
Entertainment        0.625468
Finance              0.807692
Food & Drink         0.682540
Games                0.585170
Health & Fitness     0.423729
Lifestyle            0.659574
Medical              0.347826
Music                0.485507
Navigation           0.434783
News                 0.773333
Photo & Video        0.479769
Productivity         0.348315
Reference            0.312500
Shopping             0.991803
Social Networking    0.856287
Sports               0.699115
Travel               0.691358
Utilities            0.439516
Weather              0.430556
Name: Prime_genre, dtype: float64

#### 15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.

We will leave this question to you. There are several way to solve it. Ideally your output should look like below:

```
    average_price              genre
21       8.776087            Medical
11       5.116316           Business
4        4.836875          Reference
6        4.835435              Music
1        4.330562       Productivity
15       4.124783         Navigation
16       4.028234          Education
12       1.916444   Health & Fitness
20       1.790536               Book
7        1.647621          Utilities
2        1.605417            Weather
18       1.552381       Food & Drink
14       1.473295      Photo & Video
0        1.432923              Games
8        1.120370             Travel
10       0.953070             Sports
13       0.889701      Entertainment
17       0.885417          Lifestyle
22       0.799000           Catalogs
19       0.517733               News
5        0.421154            Finance
9        0.339880  Social Networking
3        0.016311           Shopping
```

In [58]:
# your code here

data.groupby('Prime_genre', as_index = False).agg({'Price':'mean'}).sort_values(by = 'Price', ascending = False)

          Prime_genre     Price
10            Medical  8.776087
1            Business  5.116316
16          Reference  4.836875
11              Music  4.835435
15       Productivity  4.330562
12         Navigation  4.124783
3           Education  4.037589
8    Health & Fitness  1.864294
0                Book  1.790536
21          Utilities  1.647621
22            Weather  1.605417
6        Food & Drink  1.552381
14      Photo & Video  1.471676
7               Games  1.431164
20             Travel  1.120370
19             Sports  0.943894
4       Entertainment  0.889513
9           Lifestyle  0.876028
2            Catalogs  0.799000
13               News  0.517733
5             Finance  0.421154
18  Social Networking  0.339880
17           Shopping  0.016311

# Challenge - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will load a dataset below and then write a function that will perform the transformation.

In [72]:
# Run this code:

# The dataset below contains information about pollution from PM2.5 particles in Beijing 

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv"
pm25 = pd.read_csv(url)

Let's look at the data using the head() function.

In [114]:
# Your code here:
pm25.head()

#pm25.columns

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [89]:
def hourly(x):
    '''
    Input: A numerical value
    Output: The value divided by 24
        
    Example:
    Input: 48
    Output: 2.0
    '''
    
    
    # Your code here:
    
    return x / 24

#hourly(pm25[['Ir','Is','Iws']])

        Ir   Is        Iws
0      0.0  0.0   0.074583
1      0.0  0.0   0.205000
2      0.0  0.0   0.279583
3      0.0  0.0   0.410000
4      0.0  0.0   0.540417
...    ...  ...        ...
43819  0.0  0.0   9.665417
43820  0.0  0.0   9.907500
43821  0.0  0.0  10.112500
43822  0.0  0.0  10.280000
43823  0.0  0.0  10.410417

[43824 rows x 3 columns]

Apply this function to the columns Iws, Is, and Ir. Store this new dataframe in the variable pm25_hourly.

In [104]:
# Your code here:


pm25[['Ir','Is','Iws']].apply(hourly)

        Ir   Is        Iws
0      0.0  0.0   0.074583
1      0.0  0.0   0.205000
2      0.0  0.0   0.279583
3      0.0  0.0   0.410000
4      0.0  0.0   0.540417
...    ...  ...        ...
43819  0.0  0.0   9.665417
43820  0.0  0.0   9.907500
43821  0.0  0.0  10.112500
43822  0.0  0.0  10.280000
43823  0.0  0.0  10.410417

[43824 rows x 3 columns]

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [116]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''
    
    # Your code here:
    
    return np.std(x)/ x.count()


#exampl
sample_sd(pm25['TEMP'])


pm25[['TEMP','Is','DEWP','Iws']].apply(sample_sd)

TEMP    0.000278
Is      0.000017
DEWP    0.000329
Iws     0.001141
dtype: float64

In [113]:
#pm25['Is'].count()

43824